[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
mysqlclient = "*"
bcrypt = "*"
b2sdk.v1 = "*"

channels = "*"
channels_redis = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.11"
