@font-face {
  font-family: "cocogoose";
  src: url("../../../public/fonts/cocogoose.ttf");
}

.profile-page-container {
  position: relative;
  margin: 80px 175px;
  border-radius: 35px 35px 0px 0px;
  /* background-color: #ffffff; */
  min-width: 1400px;
  min-height: calc(100vh - 32px);
  overflow: auto;
}

.profile-page-header {
  /* background-color: #f2e8de; */
  height: 200px;
  display: flex;
}

.profile-page-body {
  padding: 0px 40px 30px 40px;
}

.profile-page-occupations {
  padding-top: 15px;
  padding-bottom: 20px;
  max-width: 900px;
  word-break: break-all;
}

.profile-page-picture-parent-container {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-page-picture-container {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  /* background-color: lightgray; */
  overflow: hidden;
  position: relative;
}
.profile-page-picture-body {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-page-picture-icon-container {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 75%;
  left: 16px;
  /* background-color: #1db272; */
  color: white;
  padding: 5px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-page-picture-edit-container {
  position: absolute;
  left: -100px;
  min-width: 90px;
  min-height: 80px;
  border-radius: 10px;
  /* background-color: #1db272; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.profile-page-picture-edit-container::after {
  content: "";
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-width: 7px;
  border-style: solid;
  /* border-color: transparent transparent transparent #1db272; */
}

.profile-page-picture-edit-section,
.profile-page-picture-delete-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: color 0.075s ease-in-out;
}

.profile-page-picture-edit-section:hover,
.profile-page-picture-delete-section:hover {
  /* color: lightgray; */
}

.profile-page-roles {
  min-height: 40px;
  width: 250px;
  border-radius: 70px;
  /* background-color: #d9d9d9; */
  margin-top: 5px;
}

.profile-page-biography {
  margin-right: 40px;
  margin-bottom: 25px;
}

.profile-page-column-body {
  position: relative;
  margin: 15px 40px 25px 40px;
}

.profile-page-interests-body {
  display: "flex";
  flex-direction: "row";
  flex-wrap: "wrap";
  margin-top: 12;
}
