#login-bubble {
    width: 120px; 
    height: 80px; 
    background: #5ac4ed;
    position: absolute;
    left:100px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
}
