.banner {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  padding: 1em;
  background-color: rgb(35, 204, 170);
  color: #fff;
  column-gap: 25px;
  position: absolute;
  top: 0px;
}

.bannerLogo {
  /* position: relative;
    top: -25px;
    left: -10px; */
}

.bannerCloseBtn {
  display: flex;
  justify-content: flex-end;

  /* width: 55%; */
  position: absolute;
  right: 30px;
}

.descText {
  /* position: relative;
    top: -40px;
    left: 1%; */
}

.bannerBtn {
  /* display: inline;
  /* text-align: center;
  width: 30%;
  overflow-wrap: break-word;
  position: relative;
    top: 5px;
    left: 30%; */
}
