.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    width: 20vw;
    height: 20vw;
    background: #FFFFFF;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.body {

}

.icon {
}

.text {
}