body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b7d66;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "cocogoose";
  src: url("../public/fonts/cocogoose.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
}

/*need to do !important to override the set typography font families in main theme*/
.font-cocogoose {
  font-family: "Cocogoose", "-apple-system", "BlinkMacSystemFont", '"Segoe UI"',
    "Roboto", '"Helvetica Neue"', "Arial", "sans-serif" !important;
}
